/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset CSS */

*{
    transition-duration: 0.1s;
    box-sizing: border-box;
    &:hover, &:active{
        cursor: pointer;
        transition-duration: 0.1s;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
  }
 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC);

// Color
$color-white: #FFFFFF;
$color-black: #121212;
$color-purple: #8A82CC;
$color-pink: #FFA782;
$color-yellow: #F5D105;
$color-blue: #559AC8;
$color-gray: rgba(73,73,73,0.50);

// Font colors 
$white-font: $color-white;
$black-font: $color-black;
$primary: $color-blue;
$disabled: $color-gray;

// Font size
$font-size-xl: 2.5rem; //40px
$font-size-lg:1.5rem; //24px
$font-size-m: 1.25rem; //20px
$font-size-base: 1rem; //16px

//Radius
$border-radius-m: 8px;
$border-radius-s: 4px;

//Shadow
$shadow-m: 0 1px 3px 0 rgba(0,0,0,0.20);

@mixin custom_selector{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../assets/icons_down.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    background-size: 12px;
    background-color: rgba(255,255,255,0.70);
}

@mixin displayflex{
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}
  
.container{
    height: 100%;
}

.header{
    background-image: url(../assets/Hero.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;

    @include displayflex;
    flex-direction: column;
    
    .title{
        font-size: $font-size-xl;
        letter-spacing: 4px;
        font-weight: 700;
        color: $white-font;
        margin: 89px auto 0 auto;
    }
    .selector{
        @include displayflex;
        margin: 96px auto 0 auto;
    }
    
    #zoneSelect {
        @include custom_selector;
    
        padding:8px;
        width: 452px;
        outline: none;
        transition-duration: 0s;
        border-radius: $border-radius-s;
        border: 2px solid rgba(255,255,255,0.10);
        font-size: $font-size-m;
        &:active{
            background-image: url('../assets/icons_up.png');
        }
        &:focus-visible {
            border: 2px solid $color-white;
            background-image: url('../assets/icons_up.png');
            transition-duration: 0s;
            background-color: rgba(255, 255, 255, 0.9);
        }
        option{
            color: $primary;   
        }  
      }

    .popular{
        font-size: $font-size-base;
        color: $black-font;
        background-color: $color-white;
        box-shadow: $shadow-m;
        border-radius: $border-radius-m;
        padding: 20px;
        margin: 120px auto 50px auto;
        width: 85%;

        @include displayflex;
        flex-direction: column;
        gap: 12px;

        .buttonGroup{
            @include displayflex;
            gap: 30px;
        }
        .tabBtn{
            padding: 8px 36px;
            color: $white-font;
            border: 0px solid $color-white;
            font-family: 'Noto Sans TC', sans-serif;
            font-size: $font-size-m;
            border-radius: $border-radius-s;
            &:hover{
                background-color: $color-black;
            }
        }
        .purple{
            background-color: $color-purple;
        }
        .pink{
            background-color: $color-pink;
        }
        .yellow{
            background-color: $color-yellow;
        }
        .blue{
            background-color: $color-blue;
        }
    }
    .collapse{
        @include displayflex;
        align-items: center;
        border-bottom: 2px dashed $primary;
        width: 85%;
        margin: 0 auto;

        >button{
            border-radius: 50px;
            padding: 8px 6px 4px;
            border: 2px solid $primary;
            z-index: 1;
            transform: translateY(16px);
            // &:hover{
            //     background-color: $primary;
            // }
            // &:active{
            //     transform: translateY(30px) rotate(180deg);
            // }
        }
    }
}
.section{
    .zoneTitle{
        @include displayflex;
        font-size: $font-size-xl;
        color: $primary;
        margin: 76px auto;
    }
}
.card_Group{
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px 76px 40px;
    gap: 16px;

    .card{
        box-shadow: $shadow-m;
        width: 49%;
        .image{
            background-image: url(https://raw.githubusercontent.com/hexschool/KCGTravel/master/image/%E8%8B%93%E9%9B%85%E5%8D%80/%E9%AB%98%E9%9B%84%E6%B8%85%E7%9C%9F%E5%AF%BA.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 155px;
            width: 100%;
            display: flex;
            align-items: flex-end;

            .card_header{
                background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.54) 100%);
                display: flex;
                align-items: flex-end;
                width: 100%;
                color: $white-font;
                padding: 20px;
                .card_title{
                    font-size: $font-size-lg;
                    margin-right: auto;
                }
                .card_description{
                    font-size: $font-size-base;
                }
            }
        }
        .card_content{
            padding: 20px;
            @include displayflex;
            flex-direction: column;
            gap: 8px;
            div{
                display: flex;
                flex-direction: row;
                gap: 4px;
                align-items: center;
                .icon{
                    width: 20px;
                    height: 20px;
                }
                .clock{
                    fill: $color-purple;
                }
                .pin{
                    fill:$color-pink;
                }
                .phone{
                    fill: $color-blue;
                }
                .tag{
                    fill: $color-yellow;
                }
            }
            p{

                width: 100%;
            }
        }
    } 
}

#toTop{
    position: fixed;
    bottom: 48px;
    right: 48px;
    box-shadow: $shadow-m;
    border: 1px solid $color-white;
    border-radius: $border-radius-s;
    overflow: hidden;
    &:hover{
        transform: scale(1.1);
    }
}
.pagination{
    @include displayflex;
    align-items: center;
    gap: 16px;
    padding: 40px;
    .page{
        padding: 8px;
        color: $color-black;
        &:hover{
            color: $color-blue;
        }
    }
    // 如果有 pagination 沒有值會顯示
    .noValue{
        color: $color-gray;
    }
}

footer{
    @include displayflex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px 0;
    background: $color-blue;
    .copyright{
        color:$color-white;
        font-size: $font-size-base;
    }
    .yellow{
        color: $color-yellow;
    }
}